{% extends "path_pulse/base.html" %}

{% block body %}

{% if session %}

<h1>Welcome {{session.userinfo.name}}!</h1>
<p><a href="{% url 'path_pulse:logout' %}">Logout</a></p>
{% if trips %}
<p>{{trips}}</p>
{% else %}
<p>No Trips</p>
{% endif %}

{% else %}

<h1>Welcome Guest</h1>
<p><a href="{% url 'path_pulse:login' %}">Login</a></p>

{% endif %}

<footer>
    <a href='https://locationiq.com'>Location Data provided by LocationIQ.com</a><br>
    <a href='https://open-meteo.com'>Weather Data provided by open-metro.com</a>
</footer>

{% endblock %}