{% extends "path_pulse/base.html" %}

{% block body %}

{% if trip %}
<a href="{% url 'path_pulse:detail' user %}">Return to Trip List</a>
<ul>
    {% for key, value in trip.items %}
    <li>
        On {{key}}, the Weather should be {{value.code}} with a High of {{value.high}} and a Low of {{value.low}}
    </li>
    <li>
        <img id="weatherImg" src='{{value.img}}'>
    </li>
    {% endfor %}

</ul>

{% else %}
<p>No Data</p>
<a href="{% url 'path_pulse:index' %}">Return to Index</a>
{% endif %}


{% endblock %}